# House Price Prediction

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [78]:
import  pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("ticks")

In [79]:
data = pd.read_csv("Data/Bengaluru_House_Data.xls")

In [80]:
data.tail()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.0
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.0
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.0
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.0
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.0

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [82]:
data.area_type.unique().size
data.area_type.value_counts()

4

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [83]:
data.availability.unique().size
data.availability.value_counts()

81

Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
16-Oct               1
16-Jan               1
15-Aug               1
15-Jun               1
16-Jul               1
Name: availability, Length: 81, dtype: int64

In [84]:
data.drop(['area_type', 'availability', 'society', 'balcony'],axis='columns' ,inplace=True)

### Data Cleaning

In [85]:
data.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [86]:
data.dropna(inplace=True)
data.tail()

                    location       size total_sqft  bath  price
13315             Whitefield  5 Bedroom       3453   4.0  231.0
13316          Richards Town      4 BHK       3600   5.0  400.0
13317  Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.0
13318        Padmanabhanagar      4 BHK       4689   4.0  488.0
13319           Doddathoguru      1 BHK        550   1.0   17.0

### Feature ngineering

In [87]:
data['size'].unique().size
data['size'].unique()

31

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [88]:
data['size'] =data['size'].apply(lambda x: int(x.split(' ')[0]))

In [89]:
data.tail()

                    location  size total_sqft  bath  price
13315             Whitefield     5       3453   4.0  231.0
13316          Richards Town     4       3600   5.0  400.0
13317  Raja Rajeshwari Nagar     2       1141   2.0   60.0
13318        Padmanabhanagar     4       4689   4.0  488.0
13319           Doddathoguru     1        550   1.0   17.0

In [90]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [91]:
data[~data['total_sqft'].apply(is_float)].head(10)

               location  size      total_sqft  bath    price
30            Yelahanka     4     2100 - 2850   4.0  186.000
122              Hebbal     4     3067 - 8156   4.0  477.000
137  8th Phase JP Nagar     2     1042 - 1105   2.0   54.005
165            Sarjapur     2     1145 - 1340   2.0   43.490
188            KR Puram     2     1015 - 1540   2.0   56.800
410             Kengeri     1  34.46Sq. Meter   1.0   18.500
549         Hennur Road     2     1195 - 1440   2.0   63.770
648             Arekere     9       4125Perch   9.0  265.000
661           Yelahanka     2     1120 - 1145   2.0   48.130
672        Bettahalsoor     4     3090 - 5002   4.0  445.000

In [92]:
def convert_total_sqft_to_float(x):
    range = x.split('-')
    if len(x) == 2:
        return (float(range[0]) + float(range[1]))/2
    try:
        return float(x)
    except:
        None

In [93]:
data.total_sqft = data.total_sqft.apply(convert_total_sqft_to_float )
data = data[data.total_sqft.notnull()]

IndexError: list index out of range